<div class="container-fluid">
    <div class="row">
        <div class="col-md-7">      
    <div class="row">
        <div class="col-md-4">
           <div class="image">
               <img src="https://images.pexels.com/photos/4409251/pexels-photo-4409251.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
        </div>
           <div class="details">
               <span>After Eight mint - KES2000</span>
           </div>
        </div>

        <div class="col-md-4">
            <div class="image">
                <img src="https://images.pexels.com/photos/4409251/pexels-photo-4409251.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
            </div>
            <div class="details">
                chocolate - KES165
            </div>
            
         </div>

         <div class="col-md-4">
            <div class="image">
                <img src="https://images.pexels.com/photos/4409251/pexels-photo-4409251.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
            </div>
            <div class="details">
                chocolate - KES165
            </div>
            
         </div>

         <div class="col-md-4">
            <div class="image">
                <img src="https://images.pexels.com/photos/4409251/pexels-photo-4409251.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
            </div>
            <div class="details">
                chocolate - KES165
            </div>
            
         </div>
         <div class="col-md-4">
            <div class="image">
                <img src="https://images.pexels.com/photos/4409251/pexels-photo-4409251.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
            </div>
            <div class="details">
                chocolate - KES165
            </div>
            
         </div>

         <div class="col-md-4">
            <div class="image">
                <img src="https://images.pexels.com/photos/4409251/pexels-photo-4409251.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
            </div>
            <div class="details">
                chocolate - KES165
            </div>
            
         </div>
    
    </div>
</div>
<div class="col-md-5">

</div>
</div>
</div>

<div class="container">
    <table>
        <tr>
            <th>name:</th>
            <th>location:</th>
            <th>category:</th>
            <th>hours</th>
        </tr>
        <tr *ngFor="let biz of businesslist">
            <td>{{biz.name}}</td>
            <td>{{biz.location}}</td>
            <td>{{biz.category}}</td>
            <td>{{biz.hours}}</td>
        </tr>
    </table>
</div>